

#container, html.embed {
    background-color: transparent;
}

.wufoo .info, .wufoo .paging-context {
    display:none;
}

.wufoo label.desc, .wufoo legend.desc {
    margin: 0 0 0.375em;
    font-size: 15.3px;
    line-height: 1;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: bold;
    color: hsl(0,0%,37%);
}

#form467.wufoo label.desc, #form467.wufoo legend.desc {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: bold;
    color: hsl(0,0%,37%);
}

#form467 input[type="text"]{
    width: 90%;
    margin-bottom: 0;
    font-size: inherit;
    display: inline-block;
    height: 47.68px;
    border: 2px solid #ddd;
    padding: 0 0.65em;
    line-height: normal;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    float:left;
}
#form467 input[type="email"]{
    width: 90%;
    margin-bottom: 0;
    font-size: inherit;
    display: inline-block;
    height: 47.68px;
    border: 2px solid #ddd;
    padding: 0 0.65em;
    line-height: normal;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
    float:left;
}
#form467 input[type="submit"]{
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: background-color 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    color: #ffffff !important;
    background-color: #849b61 !important;
    border: 1px solid #000 !important;
    text-shadow: none !important;
    border-radius: 0 !important;
    width:100%;
}

form#form467 li{
    clear:none;
}
.noI form#form467 li, .altInstruct form li{
    width:30%!important;
    float:left;
}
#form467{
    clear:none;
}

#form467 li.buttons {
    position: relative;
    padding: 26px 1% 0px 1%;
    width:20%!important;
}
#form467 #errorLi, #form467 .error-container{
    display:none;
}


#form469 input[type="text"]{
	width: 100%;
    margin-bottom: 1.25em;
    font-size: inherit;
    display: inline-block;
    height: 47.68px;
    border: 2px solid #ddd;
    padding: 0 0.65em;
    line-height: normal;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
#form469 input[type="email"]{
	width: 100%;
    margin-bottom: 1.25em;
    font-size: inherit;
    display: inline-block;
    height: 47.68px;
    border: 2px solid #ddd;
    padding: 0 0.65em;
    line-height: normal;
    color: #555;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
#form469 input[type="submit"]{
	-webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: background-color 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    color: #ffffff !important;
    background-color: #849b61 !important;
    border: 1px solid #000 !important;
    text-shadow: none !important;
    border-radius: 0 !important;
    width:100%;
}
.noI form#form469  li, .altInstruct form#form469  li{
	width:100%!important;
	float:none;
}

