.fall_50{
	@include img_half;
	background-image: url('images/fall_fest_50.jpg');
}
.winter_50{
	@include img_half;
	background-image: url('images/winter_50.jpg');
}
.summer_50{
	@include img_half;
	background-image: url('images/summer_50.jpg');
}
.drake_50{
	@include img_half;
	background-image: url('images/drake_50.jpg');
}
.breweries_50{
	@include img_half;
	background-image: url('images/breweries_50.jpg');
}
.foodcart_50{
	@include img_half;
	background-image: url('images/foodcart_50.jpg');
}