.x-container.offset{
	margin: 0px auto !important;
}
.x-section{
	padding:0 0 45px 0;
}
.el1.x-section{
	padding:0!important;
}

.sc_top_row{
	background-color: $tan;
	font-size: 22px;
}

.intro_text{
	font-size: 22px!important;
}

@media (max-width: 1000px) {
	.x-column.x-sm {
	    float: none;
	    width: 100%;
	    margin-right: 0;
	}
}

@media (max-width: 1000px){
	.x-section .x-container.marginless-columns .x-column[class*="x-"] {
	    display: block;
	    width: 100%;
	    vertical-align: inherit;
	}
}

body{
	overflow-y: scroll; /* has to be scroll, not auto */
 	-webkit-overflow-scrolling: touch;
}

.rev_slider{
	height: 800px!important;
	@media (max-width: 1000px){
		max-height: 420px!important
	}
}
.rev_slider_wrapper{
	height: 800px!important;
	@media (max-width: 1000px){
		max-height: 420px!important
	}
}