header{
	.x-container.max{
		max-width: 100%;
	}
	.x-container{
		img{
			max-width: 357px;
			@media all and (max-width: 400px) {
				max-width: 320px;
			}
		}
		
	}
	.x-brand{
		margin-top: 13px;
	}
	.x-btn-navbar {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
}

#cta_row{
	max-width: 100%;
	min-width: 100%;
	width:100%;
	height:auto;
	position: fixed;
	bottom:0;
	background-color: $black;
	@media all and (max-width: 980px) {
		position: relative;
	}
	.x-column{
		margin-right:0;

	}
	.x-1-4{
		width:25%;
		height:auto;
		@media all and (max-width: 980px) {
			width:100%;
			max-height: 100px;

		}
	}
	.x-image{
		width:100%;
		height:auto;
		img{
			width:100%;
			height:auto;
			@media all and (max-width: 980px) {
				width:100%;
			}
		}
		@media all and (max-width: 980px) {
			width:100%;
			max-height: 100px;
			overflow: hidden;
		}
	}
	.tint {
	  position: relative;
	  float: left;
	  cursor: pointer;
	}

	.tint:before {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background: rgba(98,70,34, 0.7);
	  -moz-transition: background .3s linear;
	  -webkit-transition: background .3s linear;
	  -o-transition: background .3s linear;
	  transition: background .3s linear;
	}

	.tint:hover:before {
	  background: none;
	}
}

#cta_row > div{
	width:100%!important;
	max-width: 100%!important;
	.x-container.max {
	    max-width: 100%;
	}

}

//CTAs
span.img-caption{
	position: absolute;
	z-index:777;
	width:100%;
	// position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-size: 3.25em;
    font-weight:400;
    font-family: 'Playfair Display', serif;
    padding: 0 1.0em;
    @media all and (max-width: 1200px) {
    	font-size: 2.95em;
    	padding:0 0.5em;
    }
    @media all and (max-width: 980px) {
    	font-size: 2.0em;
    }
}