.rec_intro{
	background-color: $tan!important;
	.sc_top_row{
		max-width: 1400px!important;
		margin: 0 auto!important;
	}
}
.r_50_text{
	@include r_50_text_mix;
}
.l_50_text{
	@include l_50_text_mix;
}

.old_mill_50{
	@include img_half;
	background-image: url('images/old_mill_50.jpg');
}

.downtown_50{
	@include img_half;
    background-image: url('images/downtown_50.jpg');
}

.mountainbike_50{
	@include img_half;
	background-image: url('images/mountainbiking_50.jpg');
}

.hiking_50{
	@include img_half;
	background-image: url('images/smith_rock_50.jpg');
}

.skiing_50{
	@include img_half;
	background-image: url('images/slkiing_50.jpg');
}

.fishing_50{
	@include img_half;
	background-image: url('images/fly_fishing_50.jpg');
}

.golfing_50{
	@include img_half;
	background-image: url('images/golfing_50.jpg');
}

.vt_cta{
	background-color: $tan!important;
	position:relative;

	.x-container.width{
		width:100%;
	}
	.x-column{
		padding:0!important;
	}
	.x-2-3{
		margin-right: 0;
		padding:0!important;
	}
	.vt_col_1{
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  width:100%;
	  text-align: center;
	  h2{
	  	font-family: 'Playfair Display', serif;
    	font-size: 4.15em;
    	color: $md_gray;
    	@media all and (max-width: 900px) {
			font-size: 2.0em;
		}
	  }
	  a{
	  	display: block;
	  	background-color: $btn_grn;
	  	border: 1px solid $true_blk;
	  	padding:0.5em;
	  	color:$white;
	  	font-family: 'Playfair Display', serif;
	  	font-size: 18px;	
	  	width:160px;
	  	margin: 0 auto;
	  	-moz-transition: background-color .3s linear;
	    -webkit-transition: background-color .3s linear;
	    -o-transition: background-color .3s linear;
	    transition: background-color .3s linear;
	  	&:hover{
	  		background-color: $title_grn;
	  	}
	  }
	}
	.cta_vt{
		text-align: center;
		display:block;
		min-height:200px;
	}
	.x-image img{		
		width:100%;
	}
}
