.x-img{
	margin-bottom: 0!important;
}
.onyx_50{
	@include img_half;
	background-image: url('images/onyx.jpg');
}
.sapphire_50{
	@include img_half;
	background-image: url('images/sapphire.jpg');
}

.ruby_50{
	@include img_half;
	background-image: url('images/ruby.jpg');
}

.garnet_50{
	@include img_half;
	background-image: url('images/gernet.jpg');
}

.emerald_50{
	@include img_half;
	background-image: url('images/emerald.jpg');
}

.r_50_text_sm{
	@include r_50_text_mix;
	max-width: 768px;
	margin: 3.0em 6.0em!important;
	@media all and (max-width: 500px) {
		margin: 2.0em 2.0em!important;
	}
}
.l_50_text_sm{
	@include l_50_text_mix;
	max-width: 768px;
	margin: 3.0em 6.0em!important;
	@media all and (max-width: 500px) {
		margin: 2.0em 2.0em!important;
	}
}
.image_block_section{
	.x-container.width{
		width:100%!important;
	}
}
a.available{
	color:$true_blk;
	display: block;
	font-size:26px;
	font-family: 'Playfair Display', serif;
	cursor: pointer;
	-moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
    // height:2.0em;
    margin-bottom: 1.0em;
	width: 100%;
	line-height: 1.6;
	&:hover{
		color:$btn_grn;
	}
	&:before {
	  content: "";
	  float: left;
	  width: 30px;
	  height: 32px;
	  margin: 8px 18px 0 0;
	  background: url(images/person2_icon.png);
	}
	@media all and (max-width: 900px) {
		font-size: 18px;
	    width: 100%;
	    height: 3.0em;
	}
}
a.more{
	color:$true_blk;
	display: block;
	font-size:26px;
	font-family: 'Playfair Display', serif;
	cursor: pointer;
	-moz-transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
    // height:2.0em;
    margin-bottom: 1.0em;
	width: 100%;
	line-height: 1.6;
	&:hover{
		color:$btn_grn;
	}
	&:before {
	  content: "";
	  float: left;
	  width: 30px;
	  height: 26px;
	  margin: 8px 18px 0 0;
	  background: url(images/housing_icon.png);
	}
	@media all and (max-width: 900px) {
		font-size: 18px;
		width: 100%;
	    height: 3.0em;
	}
}

.x-section .x-container.marginless-columns .x-column {
    display: table-cell;
    margin-right: 0;
    float: none;
    vertical-align: middle!important;
}

.img_50{
	.rev_slider{
		height: 800px!important;
		@media (max-width: 1000px){
			max-height: 420px!important
		}
	}
	.rev_slider_wrapper{
		height: 800px!important;
		@media (max-width: 1000px){
			max-height: 420px!important
		}
	}
}
.mobile_slide{
	.rev_slider{
		max-height: 420px!important
	}
	.rev_slider_wrapper{
		max-height: 420px!important
	}
}
